@import url(https://fonts.googleapis.com/css?family=Mystery+Quest);



body { 
	background-color: green;
	}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

#nav {
	background-color: #E8C66A;
}

#aside {
	background-color: #FFC675;
}

#article {
	background-color: #E89C6C;
}
#footer {
	background-color: #FF957E;
}

#div section { 
    background-color: #FFE2B8}
h1, p {
		color: black;
}


h1 {font-family: 'Open Sans', sans-serif;
	font-family: Arial, sans-serif;
}

h1 {
	font-weight: bold;
}

h1 { 
	text-decoration: underline;
}

h1 {
	text-transform: uppercase;
}


h3 { 
font-style: Arial, italic;
}

h3 { 
	font-weight: normal;
}

body { 
	text-align: center;
}
